<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikaigg.blog.mapper.ArticleMapper">

    <resultMap type="com.jikaigg.blog.domain.Article" id="ArticleMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="coverImg" column="cover_img" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="list" resultMap="ArticleMap">
        select
            id, title, content, cover_img, state, category_id, create_user, create_time, update_time
        from article
        where create_user = #{id}
            <if test="categoryId != null and categoryId != ''">
                and category_id = #{categoryId}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
    </select>

    <select id="selectById" resultType="com.jikaigg.blog.domain.Article">
        select
        id, title, content, cover_img, state, category_id, create_user, create_time, update_time
        from article
        where id = #{id}
    </select>

        <!--新增-->
    <insert id="add" parameterType="com.jikaigg.blog.domain.Article">
        insert into article(title, content, cover_img, state, category_id, create_user, create_time, update_time)
        values (#{title}, #{content}, #{coverImg}, #{state}, #{categoryId}, #{createUser}, now(), now())
    </insert>

    <update id="update" parameterType="com.jikaigg.blog.domain.Article">
        update article
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="coverImg != null and coverImg != ''">
                cover_img = #{coverImg},
            </if>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
            <if test="categoryId != null and categoryId != ''">
                category_id = #{categoryId},
            </if>
                update_time = now()
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="delete">
        delete from article where id = #{id}
    </delete>

</mapper>

