<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikaigg.blog.mapper.CategoryMapper">

    <resultMap type="com.jikaigg.blog.domain.Category" id="CategoryMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        <result property="categoryAlias" column="category_alias" jdbcType="VARCHAR"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="list" resultMap="CategoryMap">
        select
            id, category_name, category_alias, create_user, create_time, update_time
        from category
        where create_user = #{id}
    </select>

    <!--新增-->
    <insert id="add" parameterType="com.jikaigg.blog.domain.Category">
        insert into category(category_name, category_alias, create_user, create_time, update_time)
        values (#{categoryName}, #{categoryAlias}, #{createUser}, now(), now())
    </insert>

    <update id="update" parameterType="com.jikaigg.blog.domain.Category">
        update category
        <set>
            <if test="categoryName != null and categoryName != ''">
                category_name = #{categoryName},
            </if>
            <if test="categoryAlias != null and categoryAlias != ''">
                category_alias = #{categoryAlias},
            </if>
                update_time = now()
        </set>
        where id = #{id}
    </update>

<!--    <update id="updateAvatar">-->
<!--        update user set user_pic = #{avatarUrl}, update_time = now()-->
<!--        where id = #{id}-->
<!--    </update>-->

    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from category
        where id = #{id}
    </delete>

    <!--通过主键删除-->
<!--    <delete id="deleteById">-->
<!--        delete from cr_user where user_id = #{userId}-->
<!--    </delete>-->

</mapper>

