<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikaigg.blog.mapper.CrUserMapper">

    <resultMap type="com.jikaigg.blog.domain.CrUser" id="CrUserMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="registrationDate" column="registration_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CrUserMap">
        select
          user_id, username, email, password, registration_date
        from cr_user
        where user_id = #{userId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CrUserMap">
        select
          user_id, username, email, password, registration_date
        from cr_user
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="registrationDate != null">
                and registration_date = #{registrationDate}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from cr_user
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="registrationDate != null">
                and registration_date = #{registrationDate}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="userId" useGeneratedKeys="true">
        insert into cr_user(username, email, password, registration_date)
        values (#{username}, #{email}, #{password}, #{registrationDate})
    </insert>

    <insert id="insertBatch" keyProperty="userId" useGeneratedKeys="true">
        insert into cr_user(username, email, password, registration_date)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.username}, #{entity.email}, #{entity.password}, #{entity.registrationDate})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="userId" useGeneratedKeys="true">
        insert into cr_user(username, email, password, registration_date)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username}, #{entity.email}, #{entity.password}, #{entity.registrationDate})
        </foreach>
        on duplicate key update
        username = values(username),
        email = values(email),
        password = values(password),
        registration_date = values(registration_date)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update cr_user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="registrationDate != null">
                registration_date = #{registrationDate},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from cr_user where user_id = #{userId}
    </delete>

</mapper>

