<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikaigg.blog.mapper.UserMapper">

    <resultMap type="com.jikaigg.blog.domain.User" id="UserMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="userPic" column="user_pic" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="findByUsername" resultMap="UserMap">
        select
          id, username, password, nickname, email, user_pic,  create_time, update_time
        from user
        where username = #{username}
    </select>


    <!--新增-->
    <insert id="add" parameterType="java.lang.String">
        insert into user(username, password, create_time, update_time)
        values (#{username}, #{password}, now(), now())
    </insert>

    <update id="update" parameterType="com.jikaigg.blog.domain.User">
        update user
        <set>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
                update_time = now()
        </set>
        where username = #{username}
    </update>

    <update id="updateAvatar">
        update user set user_pic = #{avatarUrl}, update_time = now()
        where id = #{id}
    </update>

    <update id="updatePwd">
        update user set password = #{md5String}, update_time = now()
        where id = #{id}
    </update>

    <!--通过主键删除-->
<!--    <delete id="deleteById">-->
<!--        delete from cr_user where user_id = #{userId}-->
<!--    </delete>-->

</mapper>

